---
layout: archive
---
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_post | default: "About Me" }}</h3>
<p>
  An opensource contributor who learns new skills everyday.I am final year undergraduate student from Electronics & Telecommunication branch.
I have done several internships and taken part in various hackathons.  
<h3>I was Google Summer of Code 2019 Mentor and Google Code In 2018 Mentor, worked as a student developer in Summer of Code In Space program 2019 among 16 selected developers around the globe.</h3>
<br>
I have keen interest in Technology and loves to explore more by learning new things apart from normal college curriculum.
I do help people who comes under my area of interest and makes me realize my shortcomings.

I want to be a part of organisation which challenges me to get out from my comfort area.
<br>
Please have a look on my Github, Gitlab and drop me message at dhiraj.8.sharma@gmail.com if you have any open position for me.
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
